html {
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 16px;
}

body {
    width: 98%;
    margin: 0 auto;
    padding: 10px ;
    background-color: grey;
    color:black;
    
}

nav {
    margin-top: 10px;
    border-bottom: solid black 2px;
    
}


nav ul {
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding-left: 0;
}

nav ul li {
    display: inline-flex;
    font-size: 1.25rem;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
    padding-right: 1rem;
}

div {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

img {
    height: 50px;
    width: 50px;
    
}

div.pic{
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
 
#prev_pic {
    height: 70px;
    width: 70px;
    position: relative;
    top: 200px;
    visibility: hidden;

}

#next_pic {
    height: 70px;
    width: 70px;
    position: relative;
    top: 200px;
    margin-left: 10px;
}

img#pic {
    height: 500px;
    width: 500px;
}

#two {
    height: 500px;
    width: 500px;
    display: none;
}

#three {
    height: 500px;
    width: 500px;
    display: none;
}

div.bye {
    display: block;
    text-align: center;
    position: relative;
    left: 20px;
}
div.bye img {
    visibility: hidden;
    transition-duration: .25s;
    transition-delay: .25s;
    transition-timing-function: linear;
}

div.bye img:hover {
    rotate: 40deg;
    
}

div.by img:active {
    rotate: -40deg;
}

footer {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 99.5%;
    align-items: center;
    position: relative;
    bottom: 50px;
}

form {
    margin-left: 10px;
}

div#survey * {
    margin-bottom: 5px;

}

button {
margin-right: 10px;
background-color: rgb(21, 75, 21);
border-radius: 10%;
color: rgba(245, 245, 245, 0.718);
padding: 5px;
}

button#restore {
    visibility: hidden;
}
div#survey {
    visibility: hidden;

}
#hide, #show {
    display:none;
}



@media screen and (max-width: 900px) {
    h1, p {
        text-align: center;
    }

    div.social-media {
        display: flex;
        width: 780px;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    h1, p {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    div.social-media {
        display: flex;
        width: 700px;
        justify-content: center;
    }
}
@media screen and (max-width: 650px) {
    div.social-media {
        display: flex;
        width: 650px;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    div.social-media {
        display: flex;
        width: 600px;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    div.pic {
        display: none;
    }

    div.bye img{
        visibility: visible;
        height: 350px;
        width: 350px;
        position: relative;
        left: 70px;
        padding-top: 40px;
        margin-top: 50px;
    }

    div.social-media {
        position: relative;
        right: 48px;
        padding-top: 30px;
    }

    footer{
        position: relative;
        top: 70px;
    }

    h1 {
        padding-top: 30px;
    }
}